---
import Layout from '../../components/Layout.astro'
import { assistants } from '../../data/assistants'
title: "Assistants"
---

<Layout>
  <h2>Assistants</h2>
  <ul>
    {assistants.map(a => (
      <li><a href={`/assistants/${a.slug}/`}>{a.name}</a></li>
    ))}
  </ul>
</Layout>
