---
import Layout from '../../components/Layout.astro'
import { modelNames, slugify } from '../../data/models'

export async function getStaticPaths() {
  return modelNames.map(name => ({ params: { model: slugify(name) } }))
}

const { model } = Astro.params
const name = modelNames.find(n => slugify(n) === model)
---

<Layout>
  <h2>{name}</h2>
  <p>Model page for {name}.</p>
</Layout>
