---
import Layout from '../../components/Layout.astro'
import { modelNames, slugify } from '../../data/models'

title: 'Models'
---

<Layout>
  <h2>Models</h2>
  <ul>
    {modelNames.map(name => (
      <li><a href={`/models/${slugify(name)}/`}>{name}</a></li>
    ))}
  </ul>
</Layout>
