---
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Benched.ai</title>
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body>
    <header>
      <h1><a href="/">Benched.ai</a></h1>
      <nav>
        <ul>
          <li><a href="/benchmarks/">Benchmarks</a></li>
          <li><a href="/providers/">Providers</a></li>
          <li><a href="/models/">Models</a></li>
          <li><a href="/assistants/">Assistants</a></li>
          <li><a href="/tools/">Tools</a></li>
          <li><a href="/mcp/">MCP</a></li>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/glossary/">Glossary</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>
